@use '../mixins/responsive.scss' as *;
html {
}
body {
  max-width: 1440px;
  margin:auto;
  background-color: black;
  color:white;

  // @include responsive(desktop) {}
  // height: 100vh;
  // margin-left:310px;
  //  position: fixed;
}
