@use '../mixins/hover.scss' as *;
.jolly-quiz{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.square{
    position: absolute;
    width: 500px;
    top:-100px;
    
    align-items: center;
}
.wanted{
 align-items: center;
}
.jolly--icon{
    position: absolute;
    width: 250px;
    margin:25px auto;
    align-items: center;
    bottom:260px;
    left:130px;
}
.answers{
    position: relative;
    top:398px;
    //width: 300px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.answer{
    margin:auto;
    width: 100px;
    height: 30px;
    font-family: var(--font);
    border: 1px white solid ;
    border-radius: 0.5rem;
    color: white;
    background: none;
}
.green{
    background: rgb(63, 233, 63);
}
.red{
    background: red;
}
.hidden{
    display: none;
}
.disabled{
    cursor: not-allowed;
    pointer-events:none;
}