.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    &__title{
        padding-top:60px;
        font-family: var(--font);
    }
}